.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.full-width-table {
  width: 100%;
}

mat-card {
  margin-top: 20px;
}

.readonly-chip {
  margin-bottom: 10px;
}
