.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 250px;
}

.main-content {
  min-height: calc(100vh - 64px);
  padding: 0;
}
